
@import "../utilidades/variables";
@import "../utilidades/mixin";

//estilos de header

.logo-principal{
    height: 100%;
    width: 50%;
}
.navbar{
    background: $color-principal;
    font-family: 'Raleway', sans-serif,;
    font-weight: 300;
    z-index: 2;
}
.nav-item{
    border-radius: 10px;
}
.nav-link {
    color: azure;
}

.navegacion{
    display: none;
    @media screen and (min-width:768px){
        display: flex;
        top: 0px;
        position: fixed;
        width: 100%;
        justify-content: center;
        background: linear-gradient(rgba(255, 89, 94, 0.8) 65%,transparent);
        z-index: 1;
        padding: 1rem;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            
            li{
                display: inline-block;
                margin:0rem 0.5rem;
                .seccion{
                    padding: 0.5rem;
                    border-radius: 10px;
                    color: black;
                }
                .seccion:link{
                    text-decoration: none;
                }
                .seccion:hover{
                    background: rgba(73, 104, 83,0.1);
                }  
            }
        }
    }
}

//estilos del main

main{
    font-family: 'Raleway', sans-serif,;
    font-weight: 100;

    background: linear-gradient(#C8F2C4 30%,#E7F2DF 60%, transparent);
    .contenedor{
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        
        
        h1{
            font-weight: 400;
            font-style: italic;
            animation: flipInX;
            animation-duration: 2s;
            .texto-bienvenida:hover{
                color: $color-principal;
                transition: 0.3s;
            }
        }
    }
    .articulo-parrafo{
        @include grid;
        .imagen{
            max-height: 100%;
            max-width: 100%;
            
            .img{
                height: 50%;
                width: 50%;
                object-fit: cover;
                border: 1rem solid transparent;
                border-radius: 100px;;
            }
        }
        .texto{
            .parrafo{
                text-align: center;
                font-weight: 200;
            }
        }
        @media screen and (min-width:768px){
            display: grid;
            width: 100%;
            grid-template-columns: 70% 30%;
            grid-template-rows: 50vh;
            text-align: center;
            .parrafo{
                margin:0rem 1rem;
            }
            .imagen{
                max-height: 100%;
                max-width: 100%;
                text-align: center;
                
                .img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border: 1rem solid transparent;
                    border-radius: 100px;;
                }
            }
        }
    }
    .articulo-titulo{
        display: grid;
        height: 80vh;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 5fr 2fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
        font-weight: 200;
        text-align: center;
        .imagen{
            
            .img{
                height: 50%;
                width: 50%;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border: 1rem solid transparent;
                border-radius: 30px;;
            }
        }
        .parrafo{
            text-align: justify;
            margin:0rem 1rem;
            .unidades{
                font-weight: 400;

                .resaltar{
                    font-weight: bold;
                }
            }
            }
        @media screen and (min-width:768px){
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 20% 80%;
            text-align: center;

            .titulo{
                grid-column: span 2;
                .t_titulo:hover{
                    animation: headShake;
                    animation-duration: 2s;
                }
                .link-compra:link, .link-compra:visited{
                    text-decoration: none;
                    color:black;
                }
                .link-compra:hover{
                    animation: resaltar-titulo 0.3s forwards;
                }
            }
            .parrafo{
                margin:0rem 1rem;
            }
            .imagen{
                max-height: 100%;
                max-width: 100%;
                text-align: center;
                
                .img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border: 1rem solid transparent;
                    border-radius: 100px;;
                }
            }
        }
    }
    .formulario{
        display: flex;

        flex-direction: column;
        flex-wrap: nowrap;

        justify-content: center;
        align-items: center;

        margin-top: 5vh;
        margin-bottom: 5vh;

    }
}

@keyframes resaltar-titulo {
    0%{
        color: black;
    }

    100%{
        color: $color-principal;
    }
}
/*estilos del footer*/

.pie-pagina{
    background-color: cadetblue;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.redes{
    list-style: none;
}


.logo:hover{
    width: 1.5rem;
    height: 1.5rem;
}